<!DOCTYPE html>
<html>
<head>
  <title>Fooder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav_head">
  <%= link_to Product.model_name.human(count:2), products_path %>
  <%= link_to Category.model_name.human(count:2), categories_path %>
  <%= link_to 'Inventory', product_items_path %>

</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
